<a href="https://colab.research.google.com/github/JiroMarcelo/58002_OOP/blob/main/Operation_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Boolen Operation**
represent one or two values: true or false compares variables (can be two or more) <,>,= bool function allow to evaluate and give you value in return: true or false
1. Comparison/Relation

In [ ]:

  print(10>9)
  print(10==9)
  print(10<0)

True
False
False

In [ ]:
a = 10
b = 0
print (a>b)
print (a<b)
print (a==b)
print (b==b)

True
False
False
True

In [ ]:
print(bool(1))
print(bool("Ana"))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
False
False
False

FUNCTION CAN RETURN A BOOLEAN

defmy Function () return true

print(myFunction())

In [ ]:
def myFunction():
    return False

print(myFunction())

False

**ALLIGNMENT**

In [ ]:
  def myFunction():
    return False 
if myFunction():
      print("Yes")
else:
      print("No!")

No!

In [ ]:
print (6>7)

a=6
b=7
print(a==b)
print(a!=a)

False
False
False

PYTHON OPERATORS

operators are used to perform on variable and values

%modulo division -- remainder // floor division
**power^(exponent0

In [ ]:
print(10%5)
print(10//3)
print(10*2)

0
3
20

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%3)

15
5
50
2.0
1

PYTHON BITWISE OPERATORS

works on bits and performs bits-by-bits operation.

Assume if a=6 and b=13;now in binary format they will be as follows

<<= shift to the right
(>>)= not applicable in regis

In [ ]:
a = 60 
b = 13
a<<1
a>>1

30

Python Assignment Operators

X+=3 same as x=x+3

In [ ]:
x = 1
x+=3 #same as x = x+3
print(x)

x = 1
x-=3
print(x)

4
-2

LOGICAL OPERATIONS

In [ ]:
x = True
y = False

In [ ]:
print(x and y)
print(x or y)
print(not(x or y))

False
True
False

**IDENTITY OPERATORS**

In [ ]:
print(x is y)
print(x is not y)

False
True

Application 1 Create an arithmetic calculator (MDAS)